<div th:fragment="rating-edit">
  <label for="rating-edit">Рейтинг:</label>
  <div class="rating">
    <input type="radio" id="editStar10" name="rating" value="10" />
    <label for="editStar10" title="Оценка «10»"></label>
    <input type="radio" id="editStar9" name="rating" value="9" />
    <label for="editStar9" title="Оценка «9»"></label>
    <input type="radio" id="editStar8" name="rating" value="8" />
    <label for="editStar8" title="Оценка «8»"></label>
    <input type="radio" id="editStar7" name="rating" value="7" />
    <label for="editStar7" title="Оценка «7»"></label>
    <input type="radio" id="editStar6" name="rating" value="6" />
    <label for="editStar6" title="Оценка «6»"></label>
    <input type="radio" id="editStar5" name="rating" value="5" />
    <label for="editStar5" title="Оценка «5»"></label>
    <input type="radio" id="editStar4" name="rating" value="4" />
    <label for="editStar4" title="Оценка «4»"></label>
    <input type="radio" id="editStar3" name="rating" value="3" />
    <label for="editStar3" title="Оценка «3»"></label>
    <input type="radio" id="editStar2" name="rating" value="2" />
    <label for="editStar2" title="Оценка «2»"></label>
    <input type="radio" id="editStar1" name="rating" value="1" />
    <label for="editStar1" title="Оценка «1»"></label>
  </div>
</div>
